
#barra-busqueda
{
	background: #fbb714;
	height: 60px;
	width: 100%;
}

#content-busqueda
{
	/*background: #DDD;*/
	margin: 0 auto;
	margin-top: 15px;
	width: 1280px;
}

#mapa
{
	height: 380px;
	overflow: inherit !important;
	top: 0;
	width: 100%;
}

#content-busqueda h3
{
	color: #474747;
	margin: 0;
	font-size: 28px;
	font-weight: normal;
}

#content-busqueda #search-header
{
	display: inline-block;
	height: 80px;
	text-align: left;
	width: 590px;
}

#content-busqueda #search-header h4
{
	color: #474747;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

#content-busqueda #search-combo
{
	display: inline-block;
	height: 80px;
	text-align: right;
	position: relative;
	vertical-align: top;
	width: 590px;
}

#content-busqueda #search-combo input
{
	border: 1px solid #DDD;
	border-radius: 5px;
	font-size: 20px;
	font-style: oblique;
	height: 40px;
	position: relative;
	top: 20px;
	width: 280px;
}

#content-busqueda #result-bar
{
	background-color: #DDD;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 10px;
	width: 1186px;
}

#content-busqueda #result-bar #result-bar-etiquetas
{
	display: inline-block;
	height: 40px;
	width: 49.5%;
}

#content-busqueda #result-bar #result-bar-filter
{
	display: inline-block;
	height: 40px;
	width: 49.5%;
}

#content-busqueda #results
{
	border-bottom: 1.5px solid #DDD;
}

#content-busqueda .box-result
{
	background-color: #FFF;
	border: 1.5px solid #DDD;	
	display: inline-block;
	height: 150px;
	margin-bottom: 25px;
	margin-left: 12px;
	margin-right: 12px;
	width: 580px;
}

#content-busqueda .box-result .box-result-image
{
	/*background-color: #AAA;*/
	display: inline-block;
	height: 125px;
	margin-top: 12.5px;
	width: 200px;
}

#content-busqueda .box-result .box-result-data
{
	/*background-color: #AAA;*/
	display: inline-block;
	float: right;
	height: 150px;
	vertical-align: top;
	width: 358px;
}

#content-busqueda .box-result .box-result-data .box-result-title
{
	font-size: 19px;
	font-weight: bold;
	margin-top: 7px;
	text-align: left;
}


#content-busqueda #result-footer
{
	height: 40px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 10px;
	width: 1186px;
}

#content-busqueda #Pagination {
	display: inline-block;
	margin: 0 auto;
}

#content-busqueda .pagination a {
    text-decoration: none;
	color: #000;
	background: #d6d6d6;

	-webkit-transition: background .3s ease;
	   -moz-transition: background .3s ease;
	    -ms-transition: background .3s ease;
	     -o-transition: background .3s ease;
	        transition: background .3s ease;
}

#content-busqueda .pagination a, #content-busqueda .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

#content-busqueda .pagination a:hover {
	background: #fbb714;
}


#content-busqueda .pagination .current {
    background: #fbb714;
    color: #fff;
}

#content-busqueda .pagination .current.prev, #content-busqueda .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#d6d6d6;
}