
#barra-contacto
{
	background: #55c6f2;
	height: 60px;
	width: 100%;
}

#content-contacto
{
	border-top: 2px solid #DDD;
	height: 480px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 40px;
	width: 1200px;
}

#content-contacto h2
{
	color: #807e7f;
	font-size: 30px;
	margin: 0;
	text-align: left;
}

#content-contacto p
{
	margin: 0;
	text-align: left;
}

#content-contacto #header-contacto
{
	color: #000;
	margin-top: 10px;
}

#content-contacto #info-contacto
{
	display: inline-block;
	height: 260px;
	margin-top: 50px;
	vertical-align: top;
	width: 445px;
}

#content-contacto #info-contacto #links-contacto
{
	margin-top: 95px;
}

#content-contacto #info-contacto #links-contacto ul
{
	list-style: none;
	text-align: left;
}

#content-contacto #info-contacto #links-contacto ul li
{
	display: inline-block;
	margin-right: 1px;
}

#content-contacto #info-contacto #links-contacto ul li a
{
	height: 40px;
    margin: 0;
    padding: 0;
    width: 40px;
}

#content-contacto #info-contacto #links-contacto ul li a
{
    display: block;
}

.contacto-face
{
	background: url("../img/contacto-facebook.png") no-repeat;
}

.contacto-twitter
{
	background: url("../img/contacto-twitter.png") no-repeat;
}

.contacto-plus
{
	background: url("../img/contacto-plus.png") no-repeat;
}


#content-contacto #info-contacto #info-data
{
	font-size: 18px;
	margin-top: 8px;
}

#content-contacto #info-contacto #info-data #info-mail
{
	color: #f38a2f;
}

#content-contacto #info-contacto #info-data strong
{
	color: #000;
}

#content-contacto #mensaje-contacto
{
	background: #dcdcdc;
	display: inline-block;
	height: 260px;
	margin-top: 50px;
	vertical-align: top;
	width: 750px;
}

#content-contacto #mensaje-contacto h2
{
	margin-top: 2px;
	margin-left: 15px;
}

#content-contacto #mensaje-contacto form
{
	margin-top: 15px;
}

#content-contacto #mensaje-contacto input
{
	font-family: "TitilliumWeb-Light";
	font-style: oblique;
}

#content-contacto #mensaje-contacto #form-enviar
{
	background: #55c6f2;
	border-radius: 3px;
	color: #FFF;
	float: right;
	font-family: "TitilliumWeb-Bold";
	font-style: normal;
	font-size: 23px;
	height: 40px;
	margin-top: 8px;
	margin-right: 15px;
	width: 150px;
}

#content-contacto #mensaje-contacto #form-nombre, #form-mail
{
	border-radius: 3px;
	font-size: 16px;
	height: 40px;
	margin-left: 7px;
	margin-right: 7px;
	width: 350px;
}

#content-contacto #mensaje-contacto #form-comentario
{
	border-radius: 3px;
	font-family: "TitilliumWeb-Light";
	font-style: oblique;
	font-size: 16px;
	height: 90px;
	margin-top: 10px;
	width: 720px;
}

#content-lugar
{
	margin-bottom: 50px;
	max-width: 100%;
}

#content-lugar #lugar-titulo
{	
	border-top: 2px solid #DDD;
	height: 130px;
	margin: 0 auto;
	width: 1200px;
}

#content-lugar h3
{
	margin-top: 20px;
	font-family: "TitilliumWeb-Bold";
	font-size: 30px;
}

#content-lugar #lugar-info
{
	background: #24a8aa;
	height: 220px;
	margin: 0 auto;
	margin-top: 10px;
	width: 1200px;
}

#content-lugar #lugar-info #personal-data, #sitio-data
{
	display: inline-block;
	height: 150px;
	margin-top: 15px;
	vertical-align: top;
	width: 520px;
}

#content-lugar #lugar-info #personal-data h2, #sitio-data h2
{
	color: #FFF;
	font-family: "TitilliumWeb-Thin";
	font-size: 26px;
	margin-bottom: 10px;
	margin-left: 40px;
	text-align: left;
}

#content-lugar #lugar-info input
{
	border-radius: 3px;
	height: 40px;
	font-family: "TitilliumWeb-Light";
	font-style: oblique;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 230px;
}

#content-lugar #lugar-info select
{
	border-radius: 3px;
	height: 40px;
	font-family: "TitilliumWeb-Light";
	font-style: oblique;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 230px;
}

#content-lugar #lugar-info #form-reportar
{
	background: #097d7d;
	border-radius: 3px;
	color: #FFF;
	font-family: "TitilliumWeb-Bold";
	font-style: normal;
	font-size: 23px;
	height: 40px;
	width: 150px;
}

#respuesta
{
	display: none;
}