
.post-laposta
{
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 22px;
	position: relative;
	vertical-align: top;
}

#container-post #content-post
{
	display: inline-block;
	height: 100%;
	margin: 0;
	position: relative;
	width: 1200px;
	background: #FbFbFb;
}

.imagen-info
{
	background: rgba(37, 37, 37, 0.7);
	color: #FFF;
	height: 55px;
	position: absolute;
	top: 211px;
	width: 380px;
}

.imagen-info h2
{
	font-family: "Open Sans Light";
	font-size: 18px;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.imagen-info a
{
	color: #DDD;
	text-decoration: none;
}

.post-fecha {
	background: rgba(37, 37, 37, 0.9);
	color: #FFF;
	font-family: "Open Sans Regular";
	width: 380px;
}

.post-fecha p {
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	font-family: "Open Sans Light";
}

.page-numbers.current {
    background: #58ba48;
    color: #fff;
}

.page-numbers:hover {
	background: #58ba48;
}