
#barra-laposta
{
	background: #58ba48;
	height: 60px;
	width: 100%;
}

.post-laposta
{
	display: inline-block;
	margin-left: 22px;
	margin-right: 22px;
	margin-top: 22px;
	vertical-align: top;
}

#container-post #content-post
{
	display: inline-block;
	height: 100%;
	margin: 0;
	position: relative;
	width: 1280px;
}

.imagen-laposta .imagen-info
{
	background-color: #EEE;
	width: 380px;
	height: 60px;
	vertical-align: top;
}

.imagen-laposta .imagen-info h2
{
	font-family: "Open Sans Regular";
	font-size: 17px;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.imagen-laposta .imagen-info a
{
	color: #191919;
	text-decoration: none;
}

#nav-pages
{
	margin-top: 20px;
}