
#barra-lugar
{
	background: #58ba48;
	height: 60px;
	width: 100%;
}

#content-lugar
{
	height: 100%; 
	margin: 0 auto;
	width: 1200px;
}


#info-barra
{
	border-top: 1.5px solid #CCC;
	height: 80px; 
	margin: 0 auto;
	margin-top: 25px;
	width: 1200px;
}


#info-lugar-left
{
	display: inline-block;
	height: 480px;
	margin-right: 25px;
	vertical-align: top;
	width: 430px;
}

	#lugar-title
	{
		background-color: #dcdcdc;
		height: 165px;
	}

		.lugar-title-comun
		{
			font-size: 17px;
			margin-left: 15px;
			text-align: left;
		}

		#lugar-title #lugar-nombre h2
		{
			font-family: "Open Sans Bold";
			font-size: 35px;
			margin-left: 10px;
			text-align: left;
		}

		#lugar-title #lugar-direccion
		{
			color: #807e7f;
			font-family: "Open Sans Bold";
			margin-top: 40px;
		}

		#lugar-title #lugar-tel
		{
			color: #807e7f;
		}

		#lugar-title #lugar-web
		{
			color: #f18932;
		}

	#lugar-descripcion
	{
		font-size: 16px;
		height: 165px;
		margin-top: 40px;
		text-align: justify;
	}

	#lugar-utiles
	{
		background-color: #dcdcdc;
		height: 100px;
		margin-top: 10px;
	}


#info-lugar-middle
{
	display: inline-block;
	height: 480px;
	width: 280px;
}

	#lugar-mapa
	{
		height: 480px;
		overflow: inherit !important;
		top: 0;
		width: 280px;
	}

#info-lugar-right
{
	display: inline-block;
	margin-left: 25px;
	height: 480px;
	width: 430px;
}

	#lugar-fotos
	{
		background-color: #BBB;
		height: 415px;
		width: 430px;
	}

	#lugar-links
	{
		background-color: #a59f9f;
		height: 40px;
		margin-top: 25px;
		width: 430px;
	}

	#lugar-links ul
	{
		list-style: none;
		text-align: right;
	}

	#lugar-links ul li
	{
		display: inline-block;
		margin: 0;
    	padding: 0;
	}

	#lugar-links ul li a
	{
		height: 40px;
	    margin: 0;
	    padding: 0;
	    width: 40px;
	}

	#lugar-links ul li a
	{
	    display: block;
	}

	.contacto-face
	{
		background: url("../img/contacto-facebook.png") no-repeat;
	}

	.contacto-twitter
	{
		background: url("../img/contacto-twitter.png") no-repeat;
	}

	.contacto-plus
	{
		background: url("../img/contacto-plus.png") no-repeat;
	}

#tags-barra
{
	background-color: #BBB;
	margin: 0 auto;
	margin-top: 25px;
	height: 40px;
	width: 1200px;
}

#comentarios-lugar
{
	/*background-color: #CCC;
	margin: 0 auto;
	margin-top: 25px;*/
	height: 100px;
	/*width: 900px;*/
}