
#barra-novedades
{
	background: #df3726;
	height: 60px;
	width: 100%;
}

.post-novedades
{
	height: 200px;
	border-top: 1px solid #c4c4c4;
	width: 880px;
}

.imagen-novedades
{
	display: inline-block;
	float: left;
	margin-top: 20px;
	vertical-align: top;
}

.info-novedades
{
	display: inline-block;
	float: right;
	margin-top: 15px;
	text-align: left;
	width: 640px;
}

.info-novedades .post-title h2
{
	font-family: "Open Sans Bold";
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.info-novedades .post-title a
{
	color: #191919;
	text-decoration: none;
}

.info-novedades .post-fecha
{
	color: #959595;
	font-family: "Open Sans Regular";
	font-size: 15px;
	font-weight: bold;
	font-style: oblique;
}

.info-novedades .post-info
{
	margin-top: 15px;
}

#search-2
{
	background-color: #a09a9a;
	height: 125px;
	margin: 0 auto;
	width: 275px;
}

#searchform {
	padding-top: 15px;
}

#searchform label
{
	color: #FFF;
	display: block;
	font-family: "Open Sans Bold";
	font-size: 25px;
}

#searchform #s
{
	display: block;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
	width: 250px;
}

#searchform .submit
{
	display: none;
}

#categories-2
{
	background-color: #252525;
	height: 125px;
	margin: 0 auto;
	margin-top: 20px;
	width: 275px;
}

#categories-2 h3
{
	color: #FFF;
	font-family: "Open Sans Bold";
	font-size: 25px;
	padding-top: 10px;
}

#categories-2 .postform
{
	height: 40px;
	margin-top: 15px;
	width: 250px;
}