/* Open Sans @font-face kit */

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OS-Light/OpenSans-Light.eot');
  src: url('../fonts/OS-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-Light/OpenSans-Light.woff') format('woff'),
       url('../fonts/OS-Light/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/OS-Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Light Italic */
/*@font-face {
  font-family: 'Open Sans Light Italic';
  src: url('../fonts/OS-LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/OS-LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-LightItalic/OpenSans-LightItalic.woff') format('woff'),
       url('../fonts/OS-LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
       url('../fonts/OS-LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}*/
/* END Light Italic */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OS-Regular/OpenSans-Regular.eot');
  src: url('../fonts/OS-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-Regular/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OS-Regular/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/OS-Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Italic */
/*@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/OS-Italic/OpenSans-Italic.eot');
  src: url('../fonts/OS-Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-Italic/OpenSans-Italic.woff') format('woff'),
       url('../fonts/OS-Italic/OpenSans-Italic.ttf') format('truetype'),
       url('../fonts/OS-Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: oblique;
}*/
/* END Italic */

/* BEGIN Semibold */
/*@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OS-Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/OS-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-Semibold/OpenSans-Semibold.woff') format('woff'),
       url('../fonts/OS-Semibold/OpenSans-Semibold.ttf') format('truetype'),
       url('../fonts/OS-Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}*/
/* END Semibold */

/* BEGIN Semibold Italic */
/*@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url('../fonts/OS-SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/OS-SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'),
       url('../fonts/OS-SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/OS-SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: oblique;
}*/
/* END Semibold Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OS-Bold/OpenSans-Bold.eot');
  src: url('../fonts/OS-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-Bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OS-Bold/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/OS-Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
/*@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url('../fonts/OS-BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/OS-BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/OS-BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/OS-BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}*/
/* END Bold Italic */

/* BEGIN Extrabold */
/*@font-face {
  font-family: 'Open Sans Extrabold';
  src: url('../fonts/OS-ExtraBold/OpenSans-ExtraBold.eot');
  src: url('../fonts/OS-ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-ExtraBold/OpenSans-ExtraBold.woff') format('woff'),
       url('../fonts/OS-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'),
       url('../fonts/OS-ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}*/
/* END Extrabold */

/* BEGIN Extrabold Italic */
/*@font-face {
  font-family: 'Open Sans Extrabold Italic';
  src: url('../fonts/OS-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/OS-ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OS-ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/OS-ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/OS-ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}*/
/* END Extrabold Italic */