
#barra-terminos
{
	background: #f28422;
	height: 60px;
	width: 100%;
}

#content-terminos
{
	background: #FbFbFb;
	font-family: "Open Sans Regular";
	font-size: 17px;
	height: 100%; 
	margin: 20px auto;
	padding: 20px;
	text-align: justify;
	width: 1200px;
}

#content-terminos p
{
	margin: 20px 0;
}

#content-terminos h3
{
	margin-top: 20px;
}