/* Titillium Web @font-face kit */

@font-face {
  font-family: 'TitilliumWeb-Black';
  src: url('../fonts/TW-Black/TitilliumWeb-Black.eot');
  src: url('../fonts/TW-Black/TitilliumWeb-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-Black/TitilliumWeb-Black.woff') format('woff'),
       url('../fonts/TW-Black/TitilliumWeb-Black.ttf') format('truetype'),
       url('../fonts/TW-Black/TitilliumWeb-Black.svg#TitilliumWeb-Black') format('svg');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../fonts/TW-Bold/TitilliumWeb-Bold.eot');
  src: url('../fonts/TW-Bold/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-Bold/TitilliumWeb-Bold.woff') format('woff'),
       url('../fonts/TW-Bold/TitilliumWeb-Bold.ttf') format('truetype'),
       url('../fonts/TW-Bold/TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-BoldItalic';
  src: url('../fonts/TW-BoldItalic/TitilliumWeb-BoldItalic.eot');
  src: url('../fonts/TW-BoldItalic/TitilliumWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-BoldItalic/TitilliumWeb-BoldItalic.woff') format('woff'),
       url('../fonts/TW-BoldItalic/TitilliumWeb-BoldItalic.ttf') format('truetype'),
       url('../fonts/TW-BoldItalic/TitilliumWeb-BoldItalic.svg#TitilliumWeb-BoldItalic') format('svg');
  font-weight: bold;
  font-style: oblique;
}


@font-face {
  font-family: 'TitilliumWeb-Italic';
  src: url('../fonts/TW-Italic/TitilliumWeb-Italic.eot');
  src: url('../fonts/TW-Italic/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-Italic/TitilliumWeb-Italic.woff') format('woff'),
       url('../fonts/TW-Italic/TitilliumWeb-Italic.ttf') format('truetype'),
       url('../fonts/TW-Italic/TitilliumWeb-Italic.svg#TitilliumWeb-Italic') format('svg');
  font-weight: normal;
  font-style: oblique;
}


@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('../fonts/TW-Light/TitilliumWeb-Light.eot');
  src: url('../fonts/TW-Light/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-Light/TitilliumWeb-Light.woff') format('woff'),
       url('../fonts/TW-Light/TitilliumWeb-Light.ttf') format('truetype'),
       url('../fonts/TW-Light/TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-LightItalic';
  src: url('../fonts/TW-LightItalic/TitilliumWeb-LightItalic.eot');
  src: url('../fonts/TW-LightItalic/TitilliumWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-LightItalic/TitilliumWeb-LightItalic.woff') format('woff'),
       url('../fonts/TW-LightItalic/TitilliumWeb-LightItalic.ttf') format('truetype'),
       url('../fonts/TW-LightItalic/TitilliumWeb-LightItalic.svg#TitilliumWeb-LightItalic') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('../fonts/TW-Regular/TitilliumWeb-Regular.eot');
  src: url('../fonts/TW-Regular/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-Regular/TitilliumWeb-Regular.woff') format('woff'),
       url('../fonts/TW-Regular/TitilliumWeb-Regular.ttf') format('truetype'),
       url('../fonts/TW-Regular/TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TW-SemiBold/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TW-SemiBold/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-SemiBold/TitilliumWeb-SemiBold.woff') format('woff'),
       url('../fonts/TW-SemiBold/TitilliumWeb-SemiBold.ttf') format('truetype'),
       url('../fonts/TW-SemiBold/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-SemiBoldItalic';
  src: url('../fonts/TW-SemiBoldItalic/TitilliumWeb-SemiBoldItalic.eot');
  src: url('../fonts/TW-SemiBoldItalic/TitilliumWeb-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-SemiBoldItalic/TitilliumWeb-SemiBoldItalic.woff') format('woff'),
       url('../fonts/TW-SemiBoldItalic/TitilliumWeb-SemiBoldItalic.ttf') format('truetype'),
       url('../fonts/TW-SemiBoldItalic/TitilliumWeb-SemiBoldItalic.svg#TitilliumWeb-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: oblique;
}


@font-face {
  font-family: 'TitilliumWeb-Thin';
  src: url('../fonts/TW-ExtraLight/TitilliumWeb-ExtraLight.eot');
  src: url('../fonts/TW-ExtraLight/TitilliumWeb-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-ExtraLight/TitilliumWeb-ExtraLight.woff') format('woff'),
       url('../fonts/TW-ExtraLight/TitilliumWeb-ExtraLight.ttf') format('truetype'),
       url('../fonts/TW-ExtraLight/TitilliumWeb-ExtraLight.svg#TitilliumWeb-Thin') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-ThinItalic';
  src: url('../fonts/TW-ExtraLightItalic/TitilliumWeb-ExtraLightItalic.eot');
  src: url('../fonts/TW-ExtraLightItalic/TitilliumWeb-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TW-ExtraLightItalic/TitilliumWeb-ExtraLightItalic.woff') format('woff'),
       url('../fonts/TW-ExtraLightItalic/TitilliumWeb-ExtraLightItalic.ttf') format('truetype'),
       url('../fonts/TW-ExtraLightItalic/TitilliumWeb-ExtraLightItalic.svg#TitilliumWeb-ThinItalic') format('svg');
  font-weight: 300;
  font-style: oblique;
}

