/*
 * ===========================================
 * COLORS
 * ===========================================
 */

$gray-dark: #252525;
$gray-middle: #807e7f;
$gray-middle-two: #f6f6f6;
$gray-middle-three: #bbbbbb;
$gray-middle-four: #dddddd;
$gray-middle-five: #d6d6d6;
$orange-dark: #f08421;
$orange-middle: #f28422;
$orange-light: #f1a165;
$red-dark: #df3726;
$green-dark: #58ba48;
$blue-light: #55c6f2;

/*
 * ===========================================
 * Typography
 * ===========================================
 */

$openSans-light: "Open Sans Light";
$openSans-regular: "Open Sans Regular";
$openSans-bold: "Open Sans Bold";
$titillium-bold: "TitilliumWeb-Bold";
$titillium-semiBold: "TitilliumWeb-SemiBold";
$titillium-light: "TitilliumWeb-Light";
$titillium-thin: "TitilliumWeb-Thin";
$titillium-regular: "TitilliumWeb-Regular";
$titillium-semiBold: "TitilliumWeb-SemiBold";
$glyphicons-halflings: "Glyphicons Halflings";

// =======
// z-index
// =======

$z-above-top: 1005;
$z-top: 1000;
$z-middle-top: 15;
$z-middle: 10;
$z-middle-bottom: 5;
$z-bottom: 0;
$z-underneath: -5;

// =============
// Media Queries
// =============

$breakpoint-mobile: max-width 380px;
$breakpoint-landscape: 381px 640px;
$breakpoint-landscape-max: max-width 640px;
$breakpoint-portrait: 641px 768px;
$breakpoint-bigweb: 769px 920px;
$breakpoint-bigweb-max: max-width 920px;
$breakpoint-bigwebhd: 921px 1200px;
$breakpoint-bigwebhd-max: max-width 1200px;

$breakpoint-default-media: screen;
$breakpoint-to-ems: true;

// =============
// Susy
// =============
$susy: (columns: 12, gutters: 1 / 4, math: fluid, output: float, gutter-position: inside, global-box-sizing: border-box, gutter-override: 1.25rem);