/node_modules
/bower_components
/vendor
/blog/wp-admin
/blog/wp-includes
/blog/wp-content/languajes
/blog/wp-content/plugins
/blog/wp-content/upgrade
/blog/wp-content/uploads
/blog/wp-content/index.php

/blog/.htaccess
/blog/index.php
/blog/licencia.txt
/blog/license.txt
/blog/readme.html
/blog/wp-activate.php
/blog/wp-blog-header.php
/blog/wp-comments-post.php
/blog/wp-config.php
/blog/wp-config-sample.php
/blog/wp-cron.php
/blog/wp-links-opml.php
/blog/wp-load.php
/blog/wp-login.php
/blog/wp-mail.php
/blog/wp-signup.php
/blog/wp-settings.php
/blog/wp-trackback.php
/blog/xmlrpc.php


/.sass-cache
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

### Mac Related Ignores
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes