<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]

	RewriteCond %{HTTP_HOST} ^www.tusalida.net [NC]
	RewriteRule ^(.*)$ http://tusalida.net/$1 [L,R=301]
</IfModule>

<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript
 	BrowserMatch ^Mozilla/4 gzip-only-text/html
 	BrowserMatch ^Mozilla/4\.0[678] no-gzip
 	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</ifModule>

<IfModule pagespeed_module>
    ModPageSpeed on
    ModPagespeedRewriteLevel CoreFilters
    ModPagespeedEnableFilters prioritize_critical_css
    ModPagespeedEnableFilters defer_javascript
    ModPagespeedEnableFilters sprite_images
    ModPagespeedEnableFilters convert_png_to_jpeg,convert_jpeg_to_webp
    ModPagespeedEnableFilters collapse_whitespace,remove_comments
</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
	ExpiresActive On
	# Perhaps better to whitelist expires rules? Perhaps.
	  ExpiresDefault                          "access plus 1 month"
	 
	# cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
	  ExpiresByType text/cache-manifest       "access plus 0 seconds"
	 
	# your document html
	  ExpiresByType text/html                 "access plus 0 seconds"
	 
	# data
	  ExpiresByType text/xml                  "access plus 0 seconds"
	  ExpiresByType application/xml           "access plus 0 seconds"
	  ExpiresByType application/json          "access plus 0 seconds"
	 
	# rss feed
	  ExpiresByType application/rss+xml       "access plus 1 hour"
	 
	# favicon (cannot be renamed)
	  ExpiresByType image/x-icon              "access plus 1 month"
	 
	# media: images, video, audio
	  ExpiresByType image/gif                 "access plus 3 months"
	  ExpiresByType image/png                 "access plus 3 months"
	  ExpiresByType image/jpg                 "access plus 3 months"
	  ExpiresByType image/jpeg                "access plus 3 months"
	  ExpiresByType video/ogg                 "access plus 3 months"
	  ExpiresByType audio/ogg                 "access plus 3 months"
	  ExpiresByType video/mp4                 "access plus 3 months"
	  ExpiresByType video/webm                "access plus 3 months"
	 
	# htc files  (css3pie)
	  ExpiresByType text/x-component          "access plus 1 month"
	 
	# webfonts
	  ExpiresByType font/truetype             "access plus 1 month"
	  ExpiresByType font/opentype             "access plus 1 month"
	  ExpiresByType application/x-font-woff   "access plus 1 month"
	  ExpiresByType image/svg+xml             "access plus 1 month"
	  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
	 
	# css and javascript
	  ExpiresByType text/css                  "access plus 2 months"
	  ExpiresByType application/javascript    "access plus 2 months"
	  ExpiresByType text/javascript           "access plus 2 months"
	 
	  <IfModule mod_headers.c>
	    Header append Cache-Control "public"
	    Header set Connection keep-alive
	  </IfModule>
</IfModule>
## EXPIRES CACHING ##

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  	<filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    	Header set Cache-Control "public"
  	</filesMatch>
  	<filesMatch "\.(css)$">
	    Header set Cache-Control "public"
  	</filesMatch>
  	<filesMatch "\.(js)$">
	    Header set Cache-Control "private"
  	</filesMatch>
  	<filesMatch "\.(x?html?|php)$">
	    Header set Cache-Control "private, must-revalidate"
  	</filesMatch>
</ifModule>
# END Cache-Control Headers