@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin bodytext {
    font-family: $type-default;
    font-size: 1rem;
    line-height: 1.5;
    color: $black;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}