.pagination {
    clear: both;
    margin: 0 auto;
    ul {
        li {
            display: inline-block;
            margin-bottom: 20px;
        }
    }
    a {
        text-decoration: none;
        color: $gray-dark;
        background: $gray-middle-five;
        @include transition(background 0.3s ease);
        &:hover {
            background: $orange-midlight;
        }
    }
    span {
        color: #999;
        border-color: #999;
        background: $gray-middle-five;
    }
    .active {
        span {
            background: $orange-midlight;
            color: white;
        }
    }
    & {
        a, span {
            padding: 0.3em 0.5em;
            margin-right: 5px;
        }
    }
}