#barra-contacto {
    background: #55c6f2;
    height: 60px;
    width: 100%;
}

#content-contacto {
    border-top: 2px solid #DDD;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 1200px;
    h2 {
        color: #807e7f;
        font-size: 30px;
        margin: 0;
        text-align: left;
    }
    p {
        margin: 0;
        text-align: left;
    }
    #header-contacto {
        color: #000;
        margin-top: 10px;
    }
    #info-contacto {
        display: inline-block;
        height: 260px;
        margin-top: 50px;
        vertical-align: top;
        width: 445px;
        #info-data {
            font-size: 18px;
            margin-top: 8px;
            #info-mail {
                color: #f38a2f;
                strong {
                    color: #000;
                }
            }
        }
        #links-contacto {
            margin-top: 95px;
            ul {
                text-align: left;
                li {
                    display: inline-block;
                    margin-right: 1px;
                    a {
                        display: block;
                        height: 40px;
                        margin: 0;
                        padding: 0;
                        width: 40px;
                    }
                }
            }
            .contacto-face {
                background: url("../img/contacto-facebook.png") no-repeat;
            }
            .contacto-twitter {
                background: url("../img/contacto-twitter.png") no-repeat;
            }
            .contacto-plus {
                background: url("../img/contacto-plus.png") no-repeat;
            }
        }
    }
    #mensaje-contacto {
        background: #dcdcdc;
        display: inline-block;
        height: 260px;
        margin-top: 50px;
        vertical-align: top;
        width: 750px;
        h2 {
            margin-top: 2px;
            margin-left: 15px;
        }
        #form-contacto {
            margin-top: 15px;
            input {
                font-family: "TitilliumWeb-Light";
                font-style: oblique;
            }
            #form-enviar {
                background: #55c6f2;
                @include border-radius(3px);
                color: #FFF;
                float: right;
                font-family: "TitilliumWeb-Bold";
                font-style: normal;
                font-size: 23px;
                height: 40px;
                margin-top: 8px;
                margin-right: 15px;
                width: 150px;
            }
            #form-nombre, #form-mail {
                @include border-radius(3px);
                font-size: 16px;
                height: 40px;
                margin-left: 7px;
                margin-right: 7px;
                width: 350px;
            }
            #form-comentario {
                @include border-radius(3px);
                font-family: "TitilliumWeb-Light";
                font-style: oblique;
                font-size: 16px;
                height: 90px;
                margin-top: 10px;
                width: 720px;
            }
        }
        #respuesta {
            display: none;
        }
    }
}