.laposta {
    #content-post {
        background: white;
        display: inline-block;
        height: 100%;
        margin-right: 25px;
        position: relative;
        width: 880px;
    }
}

.imagen-info {
    background: rgba(37, 37, 37, 0.7);
    color: white;
    height: 55px;
    position: absolute;
    top: 211px;
    width: 380px;
    h2 {
        font-family: $openSans-light;
        font-size: 18px;
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    a {
        color: $gray-middle-four;
        text-decoration: none;
    }
}

.post-laposta {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 22px;
    position: relative;
    vertical-align: top;
    .post-fecha {
        background: rgba(37, 37, 37, 0.9);
        color: white;
        font-family: $openSans-regular;
        width: 380px;
        p {
            text-align: right;
            padding-right: 10px;
            font-size: 14px;
            font-family: $openSans-light;
        }
    }
}

.page-numbers.current {
    background: $green-dark;
    color: white;
}

.page-numbers:hover {
    background: $green-dark;
}