#barra-lugar {
    background: $green-dark;
    height: 60px;
    width: 100%;
}

#content-lugar {
    height: 100%;
    margin: 0 auto;
    width: 1200px;
}

#info-barra {
    border-top: 1.5px solid #CCC;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
}

#info-lugar-left {
    display: inline-block;
    height: 480px;
    margin-right: 25px;
    vertical-align: top;
    width: 430px;
}

#lugar-title {
    background-color: $gray-middle-two;
    height: 260px;
}

#lugar-title-contact {
    width: 83%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    float: left;
    margin-left: 15px;
    & #lugar-direccion {
        color: $gray-middle;
        font-family: $openSans-bold;
    }
    & #lugar-tel {
        color: $gray-middle;
    }
    & #lugar-web {
        color: #f18932;
    }
}

#lugar-nombre {
    height: 100px;
    text-align: left;
    margin-left: 13px;
    margin-top: 20px;
    h1 {
        color: #656565;
        font-family: $openSans-bold;
        font-size: 35px;
        line-height: 1.2;
    }
}

#lugar-title-right {
    display: inline-block;
    width: auto;
}

#lugar-descripcion {
    height: 195px;
    margin-top: 25px;
    text-align: justify;
    overflow: hidden;
}

#lugar-utiles {
    background-color: #dcdcdc;
    height: 60px;
    margin-top: 60px;
}

#info-lugar-middle {
    display: inline-block;
    height: 480px;
    width: 280px;
}

#lugar-mapa {
    height: 480px;
    overflow: inherit !important;
    top: 0;
    width: 280px;
}

#info-lugar-right {
    display: inline-block;
    margin-left: 25px;
    height: 480px;
    width: 430px;
}

#lugar-fotos {
    background-color: $gray-middle-three;
    height: 415px;
    width: 430px;
}

#lugar-links {
    background-color: $gray-middle-three;
    height: 40px;
    margin-top: 25px;
    width: 430px;
    h4 {
        color: white;
        float: left;
        font-size: 25px;
        margin-left: 15px;
        margin-top: 1px;
    }
    ul {
        list-style: none;
        text-align: right;
        width: 100%;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            a {
                height: 40px;
                margin: 0;
                padding: 0;
                width: 40px;
                display: block;
            }
        }
    }
}

.contacto-face {
    background: url("../img/contacto-facebook.png") no-repeat !important;
}

.contacto-twitter {
    background: url("../img/contacto-twitter.png") no-repeat !important;
}

.contacto-plus {
    background: url("../img/contacto-plus.png") no-repeat !important;
}

.comentarios-lugar {
    background-color: $gray-middle-two;
    display: inline-block;
    margin: 30px 0;
    height: auto;
    width: 740px;
    padding: 0;
    #comentarios-links {
        padding: 20px;
        border-top: 1px solid $gray-middle-four;
        margin: 0 20px;
    }
}

.comentarios-lugar-alert {
    text-align: left;
    padding: 10px;
}

.stars {
    font-size: 24px;
    color: $gray-middle-three;
    float: right;
    margin-left: 20px;
}

.stars-user {
    color: #fbb714;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: $glyphicons-halflings;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty:before {
    content: "\e007";
}

.button {
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.33;
    width: 90px;
}

.button-comment {
    color: white;
    background-color: $gray-middle-three;
    border-color: $gray-middle-three;
    border-color: $gray-middle-three;
}

.button-comment-user {
    background-color: $green-dark;
    border-color: $green-dark;
}

.review {
    border-top: 1px solid $gray-middle-four;
    padding: 20px;
    margin: 0 20px;
}

.review-comment-rating {
    margin-left: 25px;
    .glyphicon {
        color: #fbb714;
    }
}

.review-comment-username {
    margin-left: 25px;
}

.review-comment-date {
    float: right;
}

.review-comment {
    clear: both;
    text-align: left;
    padding-top: 20px;
    padding-left: 75px;
}

.review-new {
    text-align: left;
    margin-bottom: 33px;
}

.btn-leave-comment {
    color: white;
    background-color: $green-dark;
    border-color: $green-dark;
    padding: 12px;
    margin-left: 20px;
}

.form-comment-rating {
    height: 155px;
}

.form-control {
    font-size: 16px;
    height: 130px !important;
    width: 680px;
    padding: 10px;
    resize: none !important;
}

.text-right {
    text-align: right;
}

.form-buttons {
    margin-top: 10px;
    height: 60px;
    text-align: left;
    display: inline-block;
    width: 20%;
}

.lugar-rating-star {
    display: inline-block;
    width: 74%;
    vertical-align: top;
    margin-top: 10px;
}

.form-recomendacion-name {
    padding-left: 14px;
}

.review-comment-photo {
    float: left;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.review-data {
    display: inline-block;
    width: 300px;
    margin: 0;
    text-align: left;
    vertical-align: top;
    float: left;
}

.lugar-ratings {
    padding: 15px;
}

.lugar-ratings-stars {
    float: left;
    & .glyphicon {
        color: #fbb714;
    }
}

.lugar-ratings-reviews {
    float: right;
}

.form-comment {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-left: 20px;
}

.lugar-votos {
    display: inline-block;
    width: 349px;
    vertical-align: top;
    margin-top: 30px;
    h3 {
        color: #656565;
        text-align: left;
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 0 !important;
    }
}

.lugar-votos-right {
    display: inline-block;
    width: 76px;
    vertical-align: top;
    margin-top: 95px;
    text-align: right;
    .lugar-votos-button {
        height: 52px;
        margin-bottom: 15px;
        float: right;
        width: 39px;
    }
}

.voteocasion {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    font-size: 0px;
    line-height: 0px;
}

.voteocasion-up {
    border-bottom: 15px solid $gray-middle-two;
    margin-bottom: 18px;
}

.voteocasion-down {
    border-top: 15px solid $gray-middle-two;
}

.lugar-rating-right {
    width: 430px;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.lugar-votos-desc {
    display: inline-block;
    text-align: left;
    width: 50%;
    font-family: $openSans-bold;
}

.lugar-votos-voto {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.lugar-votos-ocasion {
    margin-bottom: 15px;
    color: #656565;
}

.meter {
    height: 12px;
    position: relative;
    background: #E6E6E6;
    padding: 6px;
    margin-top: 6px;
    @include box-shadow(inset 0 -1px 1px rgba(255, 255, 255, 0.3));
    & > span {
        display: block;
        height: 100%;
        background-color: $orange-light;
        @include background-image(linear-gradient($orange-light, #f36d0a));
        position: relative;
        overflow: hidden;
    }
}

.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}


.orange > span {
    background-color: $orange-light;
    @include background-image(linear-gradient($orange-light, #f36d0a));
}

.nostripes > span > span, .nostripes > span:after {
    -webkit-animation: none;
    background-image: none;
}

//////////////////////////////

input[type=checkbox] {
    visibility: hidden;
}

.squaredThree {
    position: relative;
    label {
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        @include border-radius(4px);
        margin-left: -18px;
        background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
        background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
        background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
        background: -ms-linear-gradient(top, #222222 0%, #45484d 100%);
        background: linear-gradient(top, #222222 0%, #45484d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d',GradientType=0 );
        &:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity = 0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 9px;
            height: 5px;
            background: transparent;
            top: 4px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            @include transform(rotate(-45deg));
        }
        &:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity = 30);
            opacity: 0.3;
        }
    }
    input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity = 100);
        opacity: 1;
    }
}