
.post-novedades
{
    height: 200px;
    border-top: 1px solid #c4c4c4;
    width: 880px;
}

.post-novedades:hover {
    background: $gray-middle-two;
}

.imagen-novedades
{
    display: inline-block;
    float: left;
    margin-top: 20px;
    vertical-align: top;
}

.info-novedades
{
    display: inline-block;
    float: right;
    margin-top: 15px;
    width: 640px;
}

.info-novedades .post-title h2
{
    font-family: $openSans-bold;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

.info-novedades .post-title a
{
    color: $gray-dark;
    text-decoration: none;
    @include transition(color, 0.3s, ease);
}

.info-novedades .post-title a:hover
{
    color: $red-dark;
}

.info-novedades .post-fecha
{
    color: #959595;
    font-family: $openSans-regular;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    text-align: left;
}

.info-novedades .post-info
{
    margin-top: 15px;
    text-align: justify;
}

.page-numbers.current {
    background: $red-dark;
    color: white;
}

.page-numbers:hover {
    background: $red-dark;
}