#barra-quees {
    background: $orange-middle;
}

#content-quees {
    background: #FbFbFb;
    font-family: $openSans-regular;
    font-size: 16px;
    height: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: justify;
    @include container(1200px);
    @include breakpoint($breakpoint-mobile) {
        font-size: 14px;
    }
    p {
        margin: 20px 0;
    }
    b, a {
        color: $orange-middle;
    }
}