#barra-quees {
    background: $orange-middle;
    height: 60px;
    width: 100%;
}

#content-quees {
    background: #FbFbFb;
    font-family: $openSans-regular;
    font-size: 17px;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    width: 1200px;
    p {
        margin: 20px 0;
    }
    b, a {
        color: $orange-middle;
    }
}