.post {
    text-align: justify;
    h1 {
        text-align: left;
        a {
            font-family: $titillium-bold;
            font-size: 40px;
            line-height: 110%;
            margin: 0;
            padding: 0;
            text-shadow: 0 0 1px rgba(51, 51, 51, 0.3);
        }
    }
    .post-info {
        h3 {
            font-size: 25px;
            font-family: $titillium-bold;
            margin-top: 15px;
        }
        a {
            color: $orange-dark;
        }
        p {
            margin-top: 20px;
            margin-bottom: 10px;
            strong {
                font-family: $openSans-bold;
            }
        }
    }
}

.wp-caption-text {
    font-size: 14px;
    margin-top: 0;
}

.imagen {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}