@import "../global/mixins";

@charset "UTF-8";

* {
    border: 0;
    margin: 0;
    padding: 0;
}

article, footer, header, nav, section {
    display: block;
}

body {
    background-repeat: repeat;
    color: $gray-middle-zero;
    font-family: $openSans-regular;
    font-size: 16px;
    text-align: center;
    text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titillium-regular;
    margin: 0;
    line-height: normal;
    text-rendering: optimizeLegibility;
}

h3 {
    font-size: 20px;
}

p {
    margin: 0;
    text-rendering: optimizeLegibility;
}

a {
    color: $gray-dark;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

img {
    border: none;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    overflow:hidden;
    width: 120%;
    @include appearance(none);
    &::-ms-expand {
        display: none;
    }
}

.font-bold {
    display: inline-block;
    font-family: $titillium-bold;
    @include breakpoint($breakpoint-mobile) {
        margin: 0;
    }
}

.font-normal {
    display: inline-block;
    font-family: $titillium-thin;
    text-transform: uppercase;
}

#content-quees, #content-terminos {
    background: #FbFbFb;
    font-family: $openSans-regular;
    font-size: 16px;
    height: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: justify;
    @include container(1200px);
    @include breakpoint($breakpoint-mobile) {
        font-size: 14px;
    }

    p {
        margin: 20px 0;
    }
    b, a {
        color: $orange-middle;
    }
}