.tiles-container, .container-post {
    @include container(1200px);
    height: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 50px;
    padding: 0 0.625rem 1.25rem 0.625rem;
}

.tiles-container__laposta, .tiles-container__novedades {
    .tiles-section {
        display: inline-block;
        height: 100%;
        position: relative;
        width: 885px;
        margin-right: 1.25rem;
        @include breakpoint($breakpoint-bigweb-max) {
            width: 100%;
            margin-right: 0;
        }
    }
}

#nav-below {
    .nav-previous, .nav-next {
        display: inline-block;
    }
}

.wp-caption-text {
    font-size: 0.85rem;
    padding-top: 0.5rem;
    color: #888;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}