.content-lugar {
    @include container(1200px);
    margin: 0 auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    .bar-breadcrumb {
        border-bottom: 1.5px solid $gray-middle-five;
        font-size: 14px;
        font-family: $titillium-light;
        height: 30px;
        margin-bottom: 30px;
        margin-top: 25px;
        text-align: left;
        @include span(12);
        padding: 0;
        @include breakpoint($breakpoint-mobile) {
            font-size: 12px;
            height: auto;
        }

        a:hover {
            color: $orange-light;
            text-decoration: underline;
        }
    }
    .section__review {
        width: 740px;
        float: left;
        @include breakpoint($breakpoint-bigweb-max) {
            margin-bottom: 0;
            width: 100%;
        }

        @include breakpoint($breakpoint-bigwebhd) {
            width: 60%;
        }

        .promo {
            opacity: 0.7;
            margin-top: 20px;
            &:hover {
                opacity: 1;
            }
            .promo-more {}
        }
        .section__review__comentarios {
            background-color: $gray-middle-two;
            display: inline-block;
            margin: 30px 0;
            height: auto;
            width: 720px;
            padding: 10px;
            @include breakpoint($breakpoint-portrait-max) {
                font-size: 13px;
                margin-bottom: 0;
                width: 94%;
            }

            @include breakpoint($breakpoint-bigweb) {
                width: 94%;
            }

            @include breakpoint($breakpoint-bigwebhd) {
                width: 96%;
            }

            .menu-lugar {
                background-color: #F6F6F6;
                display: inline-block;
                margin: 0 auto;
                width: 80%;
                padding: 20px 0px;
                border-bottom: 1px solid $gray-middle-five;
                .menu-lugar-logo {
                    width: 130px;
                    float: left;
                }
                .menu-lugar-info {
                    display: inline-block;
                    margin-left: 10px;
                    width: 61%;
                    float: right;
                    text-align: right;
                    h3 {
                        font-size: 16px;
                        font-family: "Open Sans Bold";
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            .comentarios-lugar-alert {
                text-align: left;
                margin-left: 20px;
                margin-top: 20px;
                .alert-danger, .alert-success {
                    width: 670px !important;
                }
            }
            .section__review-box {
                form {
                    .form-comment-rating {
                        height: 155px;
                        .form-comment {
                            display: inline-block;
                            height: 100%;
                            width: 100%;
                            .form-control {
                                font-size: 16px;
                                height: 130px !important;
                                width: 680px;
                                padding: 10px;
                                resize: none !important;
                                @include breakpoint($breakpoint-portrait-max) {
                                    font-size: 13px;
                                    width: 100%;
                                }
                            }
                            .new-review {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                    .form-buttons-review {
                        float: left;
                        width: 100%;
                        padding-top: 10px;
                        .form-buttons {
                            float: left;
                            height: 60px;
                            @include breakpoint($breakpoint-mobile) {
                                width: auto;
                            }

                            .form-buttons-login {
                                font-size: 13px;
                                font-style: italic;
                                a {
                                    color: $orange-middle;
                                    @include transition(color 0.3s ease);
                                    &:hover {
                                        color: $orange-light;
                                    }
                                }
                            }
                            .button {
                                padding: 5px 0px;
                                font-size: 16px;
                                line-height: 1.33;
                                width: 90px;
                            }
                            .button-comment {
                                color: white;
                                background-color: $gray-middle-three;
                                border-color: $gray-middle-three;
                                border-color: $gray-middle-three;
                            }
                            .button-comment-user {
                                background-color: $green-dark;
                                border-color: $green-dark;
                                &:hover {
                                    @include box-shadow(0px 0px 4px black);
                                }
                            }
                        }
                        .lugar-rating-star {
                            width: 33%;
                            float: right;
                            .text-right {
                                text-align: right;
                                position: relative;
                                .lugar-rating-vote {
                                    font-size: 13px;
                                    font-style: italic;
                                    position: absolute;
                                    left: 60px;
                                    top: 5px;
                                }
                                .stars {
                                    font-size: 24px;
                                    color: $gray-middle-three;
                                    float: right;
                                    margin-left: 20px;
                                }
                                .stars-user {
                                    color: $orange-midlight;
                                }
                            }
                        }
                    }
                }
            }
            .section__review-comment {
                border-top: 1px solid $gray-middle-four;
                padding: 20px;
                clear: both;
                @include breakpoint($breakpoint-mobile) {
                    padding-left: 0;
                    padding-right: 0;
                    margin: 0 10px;
                }

                @include breakpoint($breakpoint-landscape) {
                    padding-left: 0;
                    padding-right: 0;
                    margin: 0 10px;
                }

                .section__review-photo {
                    float: left;
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                }
                .section__review-votes {
                    display: inline-block;
                    width: 300px;
                    margin: 0;
                    text-align: left;
                    vertical-align: top;
                    float: left;
                    @include breakpoint($breakpoint-mobile) {
                        width: auto;
                    }

                    @include breakpoint($breakpoint-landscape) {
                        width: auto;
                    }

                    .section__review-votesrating {
                        margin-left: 25px;
                        margin-bottom: 11px;
                    }
                    .section__review-username {
                        margin-left: 25px;
                    }
                }
                .section__review-commentdate {
                    float: right;
                }
                .section__review-commentuser {
                    clear: both;
                    text-align: left;
                    padding-top: 20px;
                    padding-left: 75px;
                }
            }
            .section__review-navigation {
                padding: 20px;
                border-top: 1px solid $gray-middle-four;
            }
        }
    }
}

.lugar-info {
    @include breakpoint($breakpoint-bigwebhd) {
        height: 500px;
        float: left;
        overflow: hidden;
    }
}

.lugar-info__mapa {
    height: 500px;
    width: 280px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    @include breakpoint($breakpoint-mobile) {
        height: auto;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    @include breakpoint($breakpoint-landscape) {
        height: auto;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    @include breakpoint($breakpoint-portrait) {
        float: right;
        height: 200px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    @include breakpoint($breakpoint-bigweb) {
        width: 38%;
        float: right;
        margin: 0;
    }

    @include breakpoint($breakpoint-bigwebhd) {
        float: right;
        height: 30%;
        margin: 0;
        width: 35%;
    }

    #lugar-mapa {
        height: 500px;
        overflow: inherit !important;
        top: 0;
        width: 280px;
        @include breakpoint($breakpoint-mobile) {
            height: 250px;
            width: 100%;
        }

        @include breakpoint($breakpoint-landscape) {
            height: 250px;
            width: 100%;
        }

        @include breakpoint($breakpoint-portrait) {
            height: 200px;
            width: 100%;
        }

        @include breakpoint($breakpoint-bigweb) {
            width: 100%;
        }

        @include breakpoint($breakpoint-bigwebhd) {
            height: 100%;
            width: 100%;
        }
    }
}

.lugar-info__desc {
    height: 500px;
    vertical-align: top;
    width: 430px;
    float: left;
    @include breakpoint($breakpoint-mobile) {
        height: auto;
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
    }

    @include breakpoint($breakpoint-landscape) {
        height: auto;
        width: 100%;
    }

    @include breakpoint($breakpoint-portrait) {
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    @include breakpoint($breakpoint-bigweb) {
        width: 60%;
    }

    @include breakpoint($breakpoint-bigwebhd) {
        width: 60%;
    }

    .lugar-info__desc-title {
        background-color: $gray-middle-two;
        height: 300px;
        @include breakpoint($breakpoint-mobile) {
            padding: 10px;
        }

        .lugar-info__desc-ratings {
            padding: 15px;
            @include breakpoint($breakpoint-mobile) {
                padding: 0;
            }

            .lugar-info__desc-ratings-stars {
                float: left;
                font-family: $openSans-light;
                @include breakpoint($breakpoint-mobile) {
                    font-size: 12px;
                }
            }
            .lugar-info__desc-ratings-reviews {
                float: right;
                @include breakpoint($breakpoint-mobile) {
                    font-size: 12px;
                }
            }
        }
        .lugar-title-left {
            .lugar-nombre {
                height: 100px;
                text-align: left;
                margin-left: 13px;
                margin-top: 20px;
                @include breakpoint($breakpoint-mobile) {
                    height: 50px;
                    margin-left: 0;
                    margin-top: 25px;
                }

                h1 {
                    color: #656565;
                    font-family: $openSans-bold;
                    font-size: 32px;
                    line-height: 1.2;
                    @include breakpoint($breakpoint-mobile) {
                        font-size: 26px;
                    }
                }
            }
        }
        .lugar-title-contact {
            width: 83%;
            display: inline-block;
            vertical-align: top;
            text-align: left;
            float: left;
            margin-left: 15px;
            @include breakpoint($breakpoint-mobile) {
                font-size: 13px;
                margin-left: 0;
            }

            .lugar-title-comun {
                color: $gray-middle;
                height: auto;
                padding-top: 0px;
                padding-bottom: 10px;
            }
            .lugar-direccion {
                font-family: $openSans-bold;
            }
            .lugar-tel {
                color: $gray-middle;
            }
            .lugar-web {
                a {
                    color: #f18932;
                    font-size: 15px;
                }
            }
        }
        .lugar-info__desc-social {
            display: inline-block;
            width: auto;
        }
    }
    .lugar-info__desc-desc {
        height: 195px;
        margin-top: 25px;
        text-align: initial;
        overflow: hidden;
        font-size: 15px;
        @include breakpoint($breakpoint-mobile) {
            font-size: 13px;
            height: auto;
        }

        @include breakpoint($breakpoint-landscape) {
            margin-bottom: 25px;
            height: auto;
        }

        @include breakpoint($breakpoint-portrait) {
            height: auto;
        }
    }
}

.lugar-info__slide {
    height: 500px;
    vertical-align: top;
    width: 430px;
    float: left;
    @include breakpoint($breakpoint-landscape-max) {
        height: auto;
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }

    @include breakpoint($breakpoint-portrait) {
        height: auto;
        margin: 0 auto;
        width: 50%;
        float: none;
    }

    @include breakpoint($breakpoint-bigweb) {
        clear: both;
        float: none;
        margin: 0 auto;
        padding-top: 20px;
    }

    @include breakpoint($breakpoint-bigwebhd) {
        float: right;
        height: 63%;
        margin-top: 20px;
        width: 35%;
    }

    .lugar-info__slide-fotos {
        height: 435px;
        width: 430px;
        @include breakpoint($breakpoint-landscape-max) {
            height: 100%;
            width: 100%;
        }

        @include breakpoint($breakpoint-portrait) {
            height: auto;
            width: 100%;
        }

        @include breakpoint($breakpoint-bigwebhd) {
            height: 100%;
            width: 100%;
        }

        #owl-demo {
            .owl-wrapper-outer {
                .owl-wrapper {
                    @include breakpoint($breakpoint-mobile) {
                        width: 100%;
                    }

                    .owl-item {
                        @include breakpoint($breakpoint-mobile) {
                            width: 100%;
                        }

                        .item {
                            @include breakpoint($breakpoint-portrait) {
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                display: block;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .lugar-info__slide-share {
        background-color: $gray-middle-three;
        height: 40px;
        margin-top: 25px;
        width: 430px;
        @include breakpoint($breakpoint-landscape-max) {
            width: 100%;
        }

        @include breakpoint($breakpoint-portrait) {
            display: none;
        }

        h4 {
            color: white;
            float: left;
            font-size: 25px;
            margin-left: 15px;
            margin-top: 1px;
            @include breakpoint($breakpoint-mobile) {
                font-size: 16px;
                margin-left: 10px;
                margin-top: 7px;
            }

            @include breakpoint($breakpoint-landscape) {
                font-size: 20px;
                margin-left: 10px;
                margin-top: 4px;
            }
        }
        ul {
            text-align: right;
            width: 100%;
            li {
                display: inline-block;
                margin: 0;
                padding: 0;
                a {
                    height: 40px;
                    margin: 0;
                    padding: 0;
                    width: 40px;
                    display: block;
                }
                .contacto-face {
                    background: url("../img/contacto-facebook.png") no-repeat !important;
                }
                .contacto-twitter {
                    background: url("../img/contacto-twitter.png") no-repeat !important;
                }
                .contacto-plus {
                    background: url("../img/contacto-plus.png") no-repeat !important;
                }
            }
        }
    }
}

.lugar-contentrating {
    width: 430px;
    margin-left: 0;
    float: right;
    @include breakpoint($breakpoint-mobile) {
        float: left;
        width: 100%;
    }

    @include breakpoint($breakpoint-landscape) {
        width: 100%;
    }

    @include breakpoint($breakpoint-bigwebhd) {
        float: right;
        width: 38%;
    }
}

.lugar-contentrating-votos {
    display: inline-block;
    width: 349px;
    vertical-align: top;
    margin-top: 30px;
    @include breakpoint($breakpoint-mobile) {
        width: 75%;
    }

    @include breakpoint($breakpoint-landscape) {
        float: left;
        width: 85%;
    }

    @include breakpoint($breakpoint-bigwebhd) {
        float: left;
        width: 80%;
    }

    h3 {
        color: #656565;
        text-align: left;
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 0 !important;
    }
    .lugar-contentrating-ocasion {
        .lugar-votos-ocasion {
            margin-bottom: 15px;
            color: #656565;
            .lugar-votos-desc {
                display: inline-block;
                text-align: left;
                width: 50%;
                font-family: $openSans-bold;
                @include breakpoint($breakpoint-mobile) {
                    width: 75%;
                    font-size: 14px;
                }

                @include breakpoint($breakpoint-landscape) {
                    width: 80%;
                }

                @include breakpoint($breakpoint-bigwebhd) {
                    width: 80%;
                }
            }
            .lugar-votos-voto {
                display: inline-block;
                font-family: $openSans-light;
                text-align: right;
                width: 50%;
                @include breakpoint($breakpoint-mobile) {
                    width: 25%;
                    font-size: 14px;
                }

                @include breakpoint($breakpoint-landscape) {
                    width: 20%;
                }

                @include breakpoint($breakpoint-bigwebhd) {
                    width: 20%;
                }
            }
        }
    }
}

.lugar-contentrating-buttons {
    display: inline-block;
    width: 76px;
    vertical-align: top;
    margin-top: 111px;
    text-align: right;
    @include breakpoint($breakpoint-mobile) {
        width: 25%;
    }

    @include breakpoint($landscape + 1 $bigweb) {
        float: right;
        width: 10%;
    }

    .lugar-votos-button {
        height: 23px;
        margin-bottom: 44px;
        float: right;
        width: 42px;
        .voteocasion {
            color: white;
            @include transition(all 0.3s ease);
        }
        .voteocasion-up {
            background-color: #EEE;
            padding: 10px 12px;
            &:hover {
                background-color: #58ba48;
                border-radius: 50%;
            }
        }
        .voteocasion-down {
            background-color: #EEE;
            padding: 10px 14px;
            &:hover {
                background-color: $red-dark;
                border-radius: 50%;
            }
        }
    }
}

input[type=checkbox] {
    visibility: hidden;
}