.content-post {
    line-height: 26px;
    text-align: justify;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 885px;
    margin-right: 1.25rem;
}

.post-header-title {
    text-align: left;
    font-family: $titillium-bold;
    font-size: 40px;
    line-height: 110%;
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.3);
    @include breakpoint($breakpoint-mobile) {
        font-size: 24px;
    }
}

.post-info {
    h3 {
        font-size: 25px;
        font-family: $titillium-bold;
        margin-top: 15px;
    }
    a {
        color: $orange-dark;
        &:hover {
            color: $red-dark;
        }
    }
    p {
        margin-top: 20px;
        margin-bottom: 10px;
        strong {
            font-family: $openSans-bold;
        }
    }
    .alignleft {
        float: left;
        margin-right: 1em;
    }
    .alignright {
        float: right;
        margin-left: 1em;
    }
    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .alignleft, .alignright {
        margin-bottom: 1.2em;
    }
    .wp-caption {
        @include breakpoint($breakpoint-mobile) {
            width: auto;
        }

        .alignleft, .alignright {
            margin-bottom: 0;
        }
    }
}

.imagen {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

img.alignleft,
.alignleft img,
img.aligncenter,
.aligncenter img,
img.alignright,
.alignright img {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid $gray-middle-two;
}